<div class="panel panel-default">    
			<div class="panel-heading">
			  <h4 class="font-thin m-t-none m-b-none text-primary-lt">Indici Prestazione Energetica - Climatizzazione Invernale</h4>              
            </div>
            <div class="panel-body"> 
			
			<div class="row" align="left">	
			
				<div class="col-sm-4 col-xs-12 col-md-4">
					<div id="gauge_episl" style="height: 250px; margin: 0 auto"></div>
					<div class="row" align="center">	
						<div class="col-sm-4 col-xs-4 col-md-4">
							<span class="text-black text-xs">Benchmark </span>
						</div>			
						<div class="col-sm-4 col-xs-4 col-md-4">				
							<span class="text-black text-xs">Tolleranza</span>
						</div>
						<div class="col-sm-4 col-xs-4 col-md-4">
							<span class="text-black text-xs">Confronto</span>
						</div>						
					</div>
					<div class="row" align="center">	
						<div class="col-sm-4 col-xs-4 col-md-4">
							<span class="text-info">{{bench['EPI_SL_Bench']}}</span>
						</div>			
						<div class="col-sm-4 col-xs-4 col-md-4">				
							<span class="text-info">{{tollerance['EPI_SL']}} %</span>
						</div>
						<div class="col-sm-4 col-xs-4 col-md-4">
							<span class="text-info"> {{diff['EPI_SL']}} %</span>
						</div>						
					</div>
					
		
				</div>			
				<div class="col-sm-4 col-xs-12 col-md-4">				
					<div id="gauge_episl_gg" style="height: 250px; margin: 0 auto;"></div>
					<div class="row" align="center">	
						<div class="col-sm-4 col-xs-4 col-md-4">
							<span class="text-black text-xs">Benchmark </span>
						</div>			
						<div class="col-sm-4 col-xs-4 col-md-4">				
							<span class="text-black text-xs">Tolleranza</span>
						</div>
						<div class="col-sm-4 col-xs-4 col-md-4">
							<span class="text-black text-xs">Confronto</span>
						</div>						
					</div>
					<div class="row" align="center">	
						<div class="col-sm-4 col-xs-4 col-md-4">
							<span class="text-info">{{bench['EPI_SL_GG_Bench']}}</span>
						</div>			
						<div class="col-sm-4 col-xs-4 col-md-4">				
							<span class="text-info">{{tollerance['EPI_SL_GG']}} %</span>
						</div>
						<div class="col-sm-4 col-xs-4 col-md-4">
							<span class="text-info"> {{diff['EPI_SL_GG']}} %</span>
						</div>						
					</div>

				</div>
				
				<div class="col-sm-4 col-xs-12 col-md-4">				
					<div id="gauge_epivl" style="height: 250px; margin: 0 auto;"></div>
					<div class="row" align="center">	
						<div class="col-sm-4 col-xs-4 col-md-4">
							<span class="text-black text-xs">Benchmark </span>
						</div>			
						<div class="col-sm-4 col-xs-4 col-md-4">				
							<span class="text-black text-xs">Tolleranza</span>
						</div>
						<div class="col-sm-4 col-xs-4 col-md-4">
							<span class="text-black text-xs">Confronto</span>
						</div>						
					</div>
					<div class="row" align="center">	
						<div class="col-sm-4 col-xs-4 col-md-4">
							<span class="text-info">{{bench['EPI_VL_Bench']}}</span>
						</div>			
						<div class="col-sm-4 col-xs-4 col-md-4">				
							<span class="text-info">{{tollerance['EPI_VL']}} %</span>
						</div>
						<div class="col-sm-4 col-xs-4 col-md-4">
							<span class="text-info"> {{diff['EPI_VL']}} %</span>
						</div>						
					</div>

				</div>					
			</div>
			
			
			
											
						
						
            </div>
			<footer class="panel-footer text-center bg-light lter">  </footer>			
</div>

<div class="panel panel-default">    
			<div class="panel-heading">
			  <h4 class="font-thin m-t-none m-b-none text-primary-lt">Indici Prestazione Energetica - Climatizzazione Estiva</h4>              
            </div>
            <div class="panel-body"> 
			
			<div class="row" align="left">	
			
				<div class="col-sm-4 col-xs-12 col-md-4">
					<div id="gauge_epesl" style="height: 250px; margin: 0 auto"></div>
					<div class="row" align="center">	
						<div class="col-sm-4 col-xs-4 col-md-4">
							<span class="text-black text-xs">Benchmark </span>
						</div>			
						<div class="col-sm-4 col-xs-4 col-md-4">				
							<span class="text-black text-xs">Tolleranza</span>
						</div>
						<div class="col-sm-4 col-xs-4 col-md-4">
							<span class="text-black text-xs">Confronto</span>
						</div>						
					</div>
					<div class="row" align="center">	
						<div class="col-sm-4 col-xs-4 col-md-4">
							<span class="text-info">{{bench['EPE_SL_Bench']}}</span>
						</div>			
						<div class="col-sm-4 col-xs-4 col-md-4">				
							<span class="text-info">{{tollerance['EPE_SL']}} %</span>
						</div>
						<div class="col-sm-4 col-xs-4 col-md-4">
							<span class="text-info"> {{diff['EPE_SL']}} %</span>
						</div>						
					</div>
					
		
				</div>			
				<div class="col-sm-4 col-xs-12 col-md-4">				
					<div id="gauge_epesl_gge" style="height: 250px; margin: 0 auto;"></div>
					<div class="row" align="center">	
						<div class="col-sm-4 col-xs-4 col-md-4">
							<span class="text-black text-xs">Benchmark </span>
						</div>			
						<div class="col-sm-4 col-xs-4 col-md-4">				
							<span class="text-black text-xs">Tolleranza</span>
						</div>
						<div class="col-sm-4 col-xs-4 col-md-4">
							<span class="text-black text-xs">Confronto</span>
						</div>						
					</div>
					<div class="row" align="center">	
						<div class="col-sm-4 col-xs-4 col-md-4">
							<span class="text-info">{{bench['EPE_SL_GGe_Bench']}}</span>
						</div>			
						<div class="col-sm-4 col-xs-4 col-md-4">				
							<span class="text-info">{{tollerance['EPE_SL_GGe']}} %</span>
						</div>
						<div class="col-sm-4 col-xs-4 col-md-4">
							<span class="text-info"> {{diff['EPE_SL_GGe']}} %</span>
						</div>						
					</div>

				</div>
				
				<div class="col-sm-4 col-xs-12 col-md-4">				
					<div id="gauge_epevl" style="height: 250px; margin: 0 auto;"></div>
					<div class="row" align="center">	
						<div class="col-sm-4 col-xs-4 col-md-4">
							<span class="text-black text-xs">Benchmark </span>
						</div>			
						<div class="col-sm-4 col-xs-4 col-md-4">				
							<span class="text-black text-xs">Tolleranza</span>
						</div>
						<div class="col-sm-4 col-xs-4 col-md-4">
							<span class="text-black text-xs">Confronto</span>
						</div>						
					</div>
					<div class="row" align="center">	
						<div class="col-sm-4 col-xs-4 col-md-4">
							<span class="text-info">{{bench['EPI_VL_Bench']}}</span>
						</div>			
						<div class="col-sm-4 col-xs-4 col-md-4">				
							<span class="text-info">{{tollerance['EPI_VL']}} %</span>
						</div>
						<div class="col-sm-4 col-xs-4 col-md-4">
							<span class="text-info"> {{diff['EPI_VL']}} %</span>
						</div>						
					</div>

				</div>					
			</div>
			
			
			
											
						
						
            </div>
			<footer class="panel-footer text-center bg-light lter">  </footer>			
</div>

