<style>
table, td, th  {
  border: 1px solid lightgrey;
  border-collapse: collapse;
  padding: 10px;
  width: 100%
}
</style>
<div>
  <h4>Componenti impianto ID{{item.idImpianti}}</h4>
  <table>
		<tr ng-if="components[item.idImpianti].length > 0">
			<th> Modello </th>
			<th> Numero componenti </th>
			<th> Ore funzionamento </th>
			<th> Data installazione </th>
			<th> Valore componente </th>
			<th> Manutenzione in corso </th>
		</tr>
	  <tr ng-repeat="x in components[item.idImpianti]">			
		<td>{{ x.modComp }}</td>
		<td>{{ x.numeroComponenti }}</td>		
		<td>{{ x.oreFunzionamento }}</td>
		<td>{{ x.dataInstallazione }}</td>
		<td>{{ x.valoreComp }} €</td>
		<td>{{ x.inManutenzione == 0 ? "NO" : "SI" }}</td>
		
	  </tr>
  </table>
</div>