
<div class="panel panel-default bg-auto">   

			<br>
			<div class="panel-body">                       
				<form class="form-horizontal" role="form" id="form-epi" ng-submit="onSubmit()">

						<img src="styles/images/building2.png " style="width: 100px;"><legend class="righter sublegendmenu">DATI EDIFICIO</legend>				
				
													<div class="col-md-12">
														<div class="row clearfix">
																 <div class="col-md-4 column">
																	<label for="superficielorda">Superficie lorda complessiva in pianta [m&sup2;]</label>												
																	<input id="superficielorda" type="number" min="0" step="any" class="form-control" ng-model="moduloepi.datiedificio.superficielorda" required>
																 </div>
																<div class="col-md-4 column">															
																	<label for="superficienetta">Superficie netta complessiva in pianta [m&sup2;]</label>											
																	<input type="number" min="0" step="any"  class="form-control" id="superficienetta" ng-model="moduloepi.datiedificio.superficienetta" required>															
																</div>
																<div class="col-md-4 column">
																	<label for="volumelordo">Volume climatizzato complessivo lordo [m&sup3;]</label>											
																	<input type="number" min="0" step="any"  class="form-control" id="volumelordo" ng-model="moduloepi.datiedificio.volumelordo" required>
																</div>																													
														</div>
													</div>	
													
								
													 <div class="col-md-12">
														<div class="row clearfix">
																 <div class="col-md-4 column">
																	<label for="volumenetto">Volume climatizzato complessivo netto [m&sup3;]</label>												
																	<input type="number" min="0" step="any"  class="form-control" id="volumenetto" ng-model="moduloepi.datiedificio.volumenetto" required>
																 </div>
																 
																 <div class="col-md-4 column">
																	<label for="superficiedisperdentelorda">Superficie disperdente complessiva lorda [m&sup2;]</label>												
																	<input type="number" min="0" step="any"  class="form-control" id="superficiedisperdentelorda" ng-model="moduloepi.datiedificio.superficiedisperdentelorda" required>
																 </div>																										
																 
																 <div class="col-md-4 column">
																	<label for="numeropiani">Numero piani</label>												
																	<input type="number" min="1" step="any"  class="form-control" id="numeropiani" ng-model="moduloepi.datiedificio.numeropiani" placeholder="0" required>
																 </div>
														</div>
													</div>	
																												
				
													
													<div class="col-md-12">
														<div class="row clearfix">	
																<div class="col-md-4 column">
																	<label for="superficielordapiano">Superficie in pianta lorda per piano [m&sup2;]</label>												
																	<input id="superficielordapiano" type="number" min="0" step="any" class="form-control" ng-model="moduloepi.datiedificio.superficielordapiano" placeholder="0" required>
																 </div>
																 
																 <div class="col-md-4 column">
																	<label for="superficienettapiano">Superficie in pianta netta per piano [m&sup2;]</label>												
																	<input id="superficienettapiano" type="number" min="0" step="any" class="form-control" ng-model="moduloepi.datiedificio.superficienettapiano" placeholder="0" required>
																 </div>
																 
																 <div class="col-md-4 column">
																	<label for="rapportosv">Rapporto S/V </label>												
																	<input id="rapportosv" type="number" min="0" step="any" class="form-control" placeholder="{{ (moduloepi.datiedificio.superficielorda/moduloepi.datiedificio.volumelordo) | number:4 }}" readonly>
																 </div>
																															
														</div>
													</div>	
													
													<div class="col-md-12">
														<div class="row clearfix">
																
																<div class="col-md-4 column">
																	<label for="zona">Zona Climatica </label>											
																	<input type="text" class="form-control" id="zona" ng-model="building.zona" required readonly>
																</div>	

																<div class="col-md-4 column">
																	<label for="gradigiorno">Gradi Giorno invernali (GGi) </label>											
																	<input type="number" class="form-control" id="gradigiorno" ng-model="building.gradigiorno" required readonly>
																</div>		
																
																<div class="col-md-4 column">
																	<label for="gradigiornoestivi">Gradi Giorno estivi (GGe) </label>											
																	<input type="number" class="form-control" id="gradigiornoestivi" ng-model="building.gradigiornoestivi" required readonly>
																</div>
														</div>
													</div>


													<div class="row clearfix"></div>
													<br><br>
													
													
													<legend class="righter sublegendmenu">IRRADIANZA SOLARE PERIODO ESTIVO</legend>
													<div class="col-md-12">
														<div class="row clearfix">
																<div class="col-md-4 column">
																	<label for="nordovest_estivo">Esposizione NORD-OVEST</label>											
																	<input type="number" min="0" step="any" class="form-control" id="nordovest_estivo" ng-model="moduloepi.irradianza_estiva.nordovest" required>
																</div>	
																 <div class="col-md-4 column">
																	<label for="nord_estivo">Esposizione NORD</label>
																	<input type="number" min="0" step="any" class="form-control" id="nord_estivo" ng-model="moduloepi.irradianza_estiva.nord" required>
																 </div>
																<div class="col-md-4 column">															
																	<label for="nordest_estivo">Esposizione NORD-EST</label>
																	<input type="number" min="0" step="any"  class="form-control" id="nordest_estivo" ng-model="moduloepi.irradianza_estiva.nordest" required>															
																</div>																																				
														</div>
													</div>										
										
												
							
													 <div class="col-md-12">
														<div class="row clearfix">
																 <div class="col-md-4 column">
																	<label for="ovest_estivo">Esposizione OVEST</label>											
																	<input type="number" min="0" step="any"  class="form-control"  id="ovest_estivo" ng-model="moduloepi.irradianza_estiva.ovest" required>
																 </div>
																
																<div class="col-md-4 column offset2" style="margin-top: 15px;">																									
																	<center><img src="styles/images/compass.png"></center>
																</div>
																
																<div class="col-md-4 column">
																	<label for="est_estivo">Esposizione EST</label>
																	<input type="number" min="0" step="any" class="form-control" id="est_estivo" ng-model="moduloepi.irradianza_estiva.est" required>
																</div>
																 																
																 																											
														</div>
													</div>										
												
										
													 <div class="col-md-12">
														<div class="row clearfix">
																<div class="col-md-4 column">
																	<label for="sudovest_estivo">Esposizione SUD-OVEST</label>											
																	<input type="number" min="0" step="any"  class="form-control"  id="sudovest_estivo" ng-model="moduloepi.irradianza_estiva.sudovest" required>
																</div>
																<div class="col-md-4 column">
																	<label for="sud_estivo">Esposizione SUD</label>												
																	<input type="number" min="0" step="any"  class="form-control" id="sud_estivo" ng-model="moduloepi.irradianza_estiva.sud" required>
																</div>																												
																<div class="col-md-4 column">
																	<label for="sudest_estivo">Esposizione SUD-EST</label>											
																	<input type="number" min="0" step="any"  class="form-control" id="sudest_estivo" ng-model="moduloepi.irradianza_estiva.sudest" required>
																 </div>																
														</div>
													</div>
													
													<div class="row clearfix"></div>	
													<br><br>
													
													<legend class="righter sublegendmenu">IRRADIANZA SOLARE PERIODO INVERNALE</legend>
													<div class="col-md-12">
														<div class="row clearfix">
																<div class="col-md-4 column">
																	<label for="nordovest">Esposizione NORD-OVEST</label>											
																	<input type="number" min="0" step="any" class="form-control" id="nordovest" ng-model="moduloepi.irradianza_invernale.nordovest" required>
																</div>	
																 <div class="col-md-4 column">
																	<label for="nord">Esposizione NORD</label>
																	<input type="number" min="0" step="any" class="form-control" id="nord" ng-model="moduloepi.irradianza_invernale.nord" required>
																 </div>
																<div class="col-md-4 column">															
																	<label for="nordest">Esposizione NORD-EST</label>
																	<input type="number" min="0" step="any"  class="form-control" id="nordest" ng-model="moduloepi.irradianza_invernale.nordest" required>															
																</div>																																				
														</div>
													</div>										
										
												
							
													 <div class="col-md-12">
														<div class="row clearfix">
																 <div class="col-md-4 column">
																	<label for="ovest">Esposizione OVEST</label>											
																	<input type="number" min="0" step="any"  class="form-control" id="ovest" ng-model="moduloepi.irradianza_invernale.ovest" required>
																 </div>
																
																<div class="col-md-4 column offset2" style="margin-top: 15px;">																									
																	<center><img src="styles/images/compass.png"></center>
																</div>
																
																<div class="col-md-4 column">
																	<label for="est">Esposizione EST</label>
																	<input type="number" min="0" step="any" class="form-control" id="est" ng-model="moduloepi.irradianza_invernale.est" required>
																</div>
																 																
																 																											
														</div>
													</div>										
												
										
													 <div class="col-md-12">
														<div class="row clearfix">
																<div class="col-md-4 column">
																	<label for="sudovest">Esposizione SUD-OVEST</label>											
																	<input type="number" min="0" step="any"  class="form-control" id="sudovest" ng-model="moduloepi.irradianza_invernale.sudovest" required>
																</div>
																<div class="col-md-4 column">
																	<label for="sud">Esposizione SUD</label>												
																	<input type="number" min="0" step="any"  class="form-control" id="sud" ng-model="moduloepi.irradianza_invernale.sud" required>
																</div>																												
																<div class="col-md-4 column">
																	<label for="sudest">Esposizione SUD-EST</label>											
																	<input type="number" min="0" step="any"  class="form-control"id="sudest" ng-model="moduloepi.irradianza_invernale.sudest" required>
																 </div>																
														</div>
													</div>													
										
									<div class="row clearfix"></div>	
									<br><br>
													
													<div class="col-md-12 column">
																		<center><button type="submit" class="span5 btn btn-md btn-success">Salva modifiche</button></center>																		
													</div>
																							
				</form>
			</div>
				
</div>
