<div class="panel panel-default">     
            <div class="panel-body">                       
						<div style="background:url(styles/images/greenbuilding.jpg) center center; background-size:cover">
					  <div class="wrapper-xs bg-white-opacity">
						<div class="row m-t">
						  <div class="col-sm-6">
							<a href="" class="thumb-lg pull-left m-r">
							  <img src="styles/images/building.png" class="img-circle">
							</a>
							<div ng-show="building.codice" class="clear m-b">
							  <div class="m-b m-t-sm">
								<span class="h3 text-black">{{ building.codice}} - {{ building.clusterEnergy}}</span>								
								<div class="h5">{{building.indirizzo}}, {{building.nome}} ({{ building.siglaprov}})</div>
							  </div>
							  <p ng-show="building.orarioLunVen" class="m-b">
								<span class="h5 text-black">Lun-Ven: <strong>{{ building.orarioLunVen}}</strong></span>														
							  </p>
							  <p ng-show="building.orarioSab" class="m-b">
								<span class="h5 text-black">Sab: <strong>{{ building.orarioSab}}</strong></span>														
							  </p>
							  	
							  
							</div>
						  </div>
						  <div class="col-sm-6">
						  <br>
						  <div class="row">
							<div ng-show="building.superficieUtile" class="col-sm-4 col-xs-4">
							  
								<span class="h4 block font-bold">{{building.superficieUtile}} m<sup>2</sup></span>
								<small>Superficie Utile</small>
							  
							 </div>
							 <div ng-show="building.volume" class="col-sm-4 col-xs-4">
							  
								<span class="h4 block font-bold">{{building.volume}} m<sup>3</sup></span>
								<small>Volume Netto</small>
							  
							  </div>
							  
							  <div ng-show="baseload" class="col-sm-4 col-xs-4">
							  
								<span class="h4 block font-bold"> {{baseload}} kW/h</span>
								<small>Always On</small>
							  
							  </div>
							
							</div>
							
						  <div class="row">
							<br>
							<div ng-show="building.potenzaInstallata" class="col-sm-4 col-xs-4">
							  
								<span class="h4 block font-bold">{{building.potenzaInstallata}} kW</span>
								<small>Potenza Installata</small>
							  
							 </div>
							 <div ng-show="building.zona" class="col-sm-4 col-xs-4">
							 
								<span class="h4 block font-bold">{{building.zona}}</span>
								<small>Zona Climatica</small>
							  
							 </div>
							 
							</div>
							
							
						  </div>
						</div>
					  </div>
					</div>
            </div>			          
</div>

